@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
}
h1,h2,h3{
    font-family: "Lora", serif;
}
.navbar{
    font-family: "Lora", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo a {
font-size: 1.5em;
font-weight: bold;
text-decoration: none;
color: white;
}

.navbar .nav-links {
list-style: none;
display: flex;
gap: 20px;
margin: 0;
padding: 0;
}

.navbar .nav-links li {
display: inline;
}

.navbar .nav-links a {
text-decoration: none;
color: white;
font-weight: bold;
transition: color 0.3s;
}

.navbar .nav-links a:hover {
color: #ddd;
}
.navbar .nav-icons{
margin: 0px 15px;
font-size: larger;

.navbar span{
  color: w;
}

}
.navbar .nav-icons li{
margin-right: 15px;
}
/* ------SIDEBAR---------- */
.sub-menu-wrap{
  position: absolute;
  top:100%; 
  right: 2%;
  width: 370px;
  gap: 10px;
  overflow: hidden;
  height: 0;
  transition: max-height 0.5s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-height: 0; 
  overflow: hidden; 
}

.sub-menu-wrap.open {
  height: auto;
  animation: slideDown 0.5s ease-in-out;

  max-height: 500px;
}

@keyframes slideDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
.sub-menu-wrap a {
  display: flex; 
  padding: 10px 15px; 
  background-color: #fff; 
  text-decoration: none; 
  color: #333; 
  font-weight: 500;
  transition: background-color 0.3s ease; 
}
.sub-menu{
  background-color: #fefefe;
  box-shadow: inset 0 0 30px rgba(108, 206, 22, 0.312);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: 2px solid green;
  padding: 20px;
  margin: 10px;
}
.user-dialog{
  display: flex;
  flex-direction: column;
}
.user-dialog h3{
  font-size: 1.2em;
}
.user-dialog p,
.user-dialog h3{
  font-weight: 500;
  color:#333;
  padding: 5px;
  padding-top:15px;
}

.user-dialog img{
  width: 60px;
  border-radius: 50%;
  margin-right: 25px;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 15px 0 10px;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 12px 0;
}
.sub-menu-link p{
  width: 100%;
}
.sub-menu-link i{
  width: 60px;
  background-color: #ddd;
  border-radius: 50%;
  padding: 20px;
  margin-right: 15px;
}
.nav-icons span{
font-size: small;
margin:4px 2px;
}
#user-icon{
  cursor: pointer;
}
#user-icon :hover{
  color:#ddd;
}
/* Search box styling */
.searchBox {
position: absolute;
top: 70px; 
transform: translateX(-30%);
width: 400px; /* Width of the search box */
padding: 5px;
background-color: #fefefe;
border-radius: 5px;
border:2px solid #4CAF50;
box-shadow: 30px 4px 16px rgba(54, 181, 75, 0.1);
display: none; /* Initially hidden */
z-index: 1000; /* Ensure it appears above other elements */
}

.searchBox input {
flex: 4;
width: 80%;
padding: 8px;
border: none; 
border-radius: 4px;
font-size: 1rem;
outline: none;
}
.searchBox button {
flex: 1 ;
border: none; 
border-radius: 4px;
font-size: 1rem;
background-color:#fff;
color: #000;
outline: none;

}
.searchBox button:hover{
background-color: #fff;
cursor: pointer;
}
.searchBox.active {
display: block;
}
#searchIcon{
cursor: pointer;
}
/* MESSAGE */
.messages{
    position: absolute;
    list-style: none;
    background-color: #fefefe;
    margin: 5px 10px;
    left: 42vw;
    padding: 10px 20px;
    width:auto;
    height: auto;
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 1.2em;
    z-index: 100;
    box-shadow: inset 0 0 5px rgba(114, 205, 98, 0.866);
    animation: fadeOut 5s forwards; 
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1; 
    }
    100% {
      opacity: 0; 
      display: none;
    }
  }
  
.footer {
text-align: center;
padding: 30px;
background-color: #1F2421;
color: #666666;
/* margin-top: 20px; */
margin-bottom: 2px;
font-size: 0.9em;
}
.footer p{
margin-top: 40px;
}
.footer-container {
display: flex;
color: #fff;
flex-wrap: wrap;
justify-content: space-between;
gap: 20px;
}
.footer-section {
flex: 1 1 200px;
margin-right: 20px;
}
.footer-section h4 {
font-size: 24px;
margin-bottom: 15px;
}
.footer-section p, 
.footer-section a, 
.footer-section ul li {
font-size: 17px;
line-height: 2;
}

/* Links */
.footer-section ul {
list-style: none;
padding: 0;
}
.footer-section ul li {
margin-bottom: 10px;
}
.footer-section ul li a {
color: #fff;
text-decoration: none;
}
.footer-section ul li a:hover {
text-decoration: underline;
color: #4CAF50;
}


/* Subscribe Section */
.footer-section form {
display: flex;
margin-bottom: 20px;
}
.footer-section form input {
flex: 1;
padding: 10px;
border:none;
color: white;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 4px 0 0 4px;
outline: none;
}
.footer-section form button {
background-color: #000;
color: white;
border:none;
padding: 10px 15px;
border-radius: 0 4px 4px 0;
cursor: pointer;
}
.footer-section form button:hover {
background-color: #19821c;
}

#backToTop {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 24px;
    background-color: #1ccc51;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    /* display: none;  */
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  #backToTop:hover {
    background-color: #1F2421;
  }
  html{
    scroll-behavior: smooth;
  }
  
  
  

/* Social Icons */
.social-icons a {
color: white;
margin-right: 10px;
font-size: 20px;
text-decoration: none;
transition: transform 0.3s;
}
.social-icons a:hover {
color: #4CAF50;
transform: scale(1.2);
}



