.navbar{
    font-family: "Lora", serif;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: sticky; 
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    width: 100%;
    position:fixed;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
}


.navbar .logo a {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color: #34ca3b;
}
.navbar.scrolled {
  background-color: #4CAF50;
  }
.navbar.scrolled .logo a{
  color: white;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    display: inline;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ddd;
}
.navbar .nav-icons{
    margin: 0px 15px;
    font-size: larger;
    
}
.navbar .nav-icons li{
    margin-right: 15px;
    
}
.searchBox i:hover{
  color: #8cfa90;
}
.navbar:not(.scrolled) .logo a:hover,
.navbar:not(.scrolled) .nav-links a:hover,
.navbar:not(.scrolled) .nav-links li:hover {
    color:#8cfa90;
} 
/* ------SIDEBAR---------- */
.sub-menu-wrap{
    position: absolute;
    top:100%; 
    right: 2%;
    width: 370px;
    gap: 10px;
    overflow: hidden;
    height: 0;
    transition: max-height 0.5s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 0; 
    overflow: hidden; 
  }
  
  .sub-menu-wrap.open {
    height: auto;
    animation: slideDown 0.5s ease-in-out;
  
    max-height: 500px;
  }
  
  @keyframes slideDown {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 500px;
    }
  }
  .sub-menu-wrap a {
    display: flex; 
    padding: 10px 15px; 
    background-color: #fff; 
    text-decoration: none; 
    color: #333; 
    font-weight: 500;
    transition: background-color 0.3s ease; 
  }
  .sub-menu{
    background-color: #fefefe;
    box-shadow: inset 0 0 30px rgba(108, 206, 22, 0.312);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 2px solid green;
    padding: 20px;
    margin: 10px;
  }
  .user-dialog{
    display: flex;
    flex-direction: column;
  }
  .user-dialog h3{
    font-size: 1.2em;
  }
  .user-dialog p,
  .user-dialog h3{
    font-weight: 500;
    color:#333;
    padding: 5px;
    padding-top:15px;
  }
  
  .user-dialog img{
    width: 60px;
    border-radius: 50%;
    margin-right: 25px;
  }
  .sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
  }
  .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;
  }
  .sub-menu-link p,h3{
    width: 100%;
    margin:0;
  }
  .sub-menu-link i{
    /* width: 60px; */
    background-color: #ddd;
    border-radius: 50%;
    padding: 20px;
    margin-right: 15px;
  }
  .hamburger{
    display:none;
  }
.nav-items{
  display: inherit;
}
.nav-items li{
  margin: 0 15px 0 0;
}
/* Responsive Design */
 @media (max-width: 400px) { 
  .navbar .nav-icons {
    margin: 0;
    font-size: medium;
  }
  .nav-icons span {
    font-size: smaller;
  }
  .sub-menu-wrap {
    width: 70%;
    right: 0;
}
.sub-menu {
  background-color: #fefefe;
  /* box-shadow: inset 0 0 30px rgba(108, 206, 22, 0.312); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: 2px solid green;
  padding: 15px;
  margin: 10px;
}
.user-dialog p, .user-dialog h3 {
  padding: 5px;
  padding-top: 0px;
  font-size:0.9em;
}

.user-dialog h3 {
  font-size: 1.1em;
}
.sub-menu hr {
  margin: 5px 0 10px;
}
.sub-menu-wrap a {
  padding: 8px 10px;
}
.sub-menu-link{
  margin:8px 0;
}
.sub-menu-link i {
  padding: 15px;
}
   .hamburger {
    display: inline-block;
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
     height: 1.8em;
    /* Define the transition for transforming the SVG */
     transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
     transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

 }  