{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel= "stylesheet" href={% static "css/base.css" %}>
    <link rel="icon" type="image/x-icon" href="{% static "resources/books-64.ico" %}">
    <script>
        const CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% block title %}{% endblock title %}
    {% block static %}
    {% endblock static %}
    
</head>
<body>
    {% block navbar %}
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <i class="fa-solid fa-book-open"></i> BookHaven</a>
        </div>
        <ul class="nav-links">
            <!-- Search box -->
            <div class="nav-items">
                <!-- Search box -->
                <li>
                    <div class="searchBox"> 
                        <form method="get" action="{% url 'shop' %}">
                            <input class="input" type="text" name="q" placeholder="Search for books..." value="{{ request.GET.q|default:'' }}">
                            <i class="fa-solid fa-magnifying-glass fa-lg searchBtn"></i>
                        </form>
                    </div>
                </li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
            </div>
            <div class="nav-icons">
                <li id="user-icon"><i  class="fa-solid fa-user"></i></li>
                <li><a href="/books/wishlist/"> <i class="fa-regular fa-heart"></i><span id="wishlist-count">{{ wishlist_count }}</span></a></li>
                <li><a href="/cart/cart/"> <i class="fa-solid fa-cart-shopping"></i><span id="cart-count">{{ cart_count }}</span></i></a></li>
                <label class="hamburger">
                    <input type="checkbox" id="menuToggle">
                    <svg viewBox="0 0 32 32">
                    <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                    <path class="line" d="M7 16 27 16"></path>
                    </svg>
                </label>
            </div>
        </ul>
        <div class="sub-menu-wrap" id="sub-menu-wrap">
            <div class="sub-menu">
                <div class="user-dialog" id="user-dialog">
                    {% if user.is_authenticated %}
                        <h3>Hello, {{ user.first_name }}</h3>
                        <hr>
                        <a href="/order-history" class="sub-menu-link"> 
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <p>Order History </p>
                        </a>
                        <a href="{% url 'logout' %}" id="logout-btn" class="sub-menu-link">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p>Logout</p>
                        </a>
                    {% else %}
                        <a href="{% url 'signin' %}" id="login-btn" class="sub-menu-link">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <p>Login</p>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% block body %}
{% endblock body %}
<script src="https://kit.fontawesome.com/a853586d9a.js" crossorigin="anonymous"></script>
<script src="{% static 'js/base.js' %}"> </script>

<script>
    const navbar = document.querySelector('.navbar');
window.addEventListener('scroll', () => {
  const scrollPosition = window.scrollY;

  if (scrollPosition > 200) {
    navbar.classList.add('scrolled');
  } else {
    navbar.classList.remove('scrolled');
  }
});
</script>
    
<a href="#" id="backToTop"><i class="fa-solid fa-arrow-up"></i></a>    
  
<div class="footer">
    <div class="footer-container">
        <!-- Contact Section -->
        <div class="footer-section">
            <h4>Have a Questions?</h4>
            <p><i class="fas fa-map-marker-alt"></i> 203 Fake St. Mountain View, San Francisco, California, USA</p>
            <p><i class="fas fa-phone"></i> +2 392 3929 210</p>
            <p><i class="fas fa-envelope"></i> info@yourdomain.com</p>
        </div>
    
        <!-- Blog Section -->
        <div class="footer-section">
            <h4>Useful Links</h4>
            <ul>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Community</a></li>
            </ul>
        </div>
    
        <!-- Links Section -->
        <div class="footer-section">
            <h4>Menu</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/cart/cart">Cart</a></li>
            <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    
        <!-- Subscription Section -->
        <div class="footer-section">
            <h4>Subscribe Us!</h4>
            <form>
            <input type="email" placeholder="Enter email address">
            <button type="submit">Subscribe</button>
            </form>
            <h4>Connect With Us</h4>
            <div class="social-icons">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        </div>

    <p>&copy; 2024 E-Book Store. All Rights Reserved.</p>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.querySelector("#menuToggle");
        const navLinks = document.querySelector(".nav-items");
    
        menuToggle.addEventListener("change", function () {
            navLinks.classList.toggle("activate");
            console.log("clicked");
        });
    });
</script>