{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block title %} <title>Cart</title> {% endblock title %}
{% block static %}
        <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock static %}

{% block body %}
<div class="cart-container">
    <!-- Product Table -->
    <div class="cart-items">
        <h1><span class="color">Your </span>Cart</h1>
        <table>
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th class="remove">Actions</th>
                </tr>
            </thead>
            
            <tbody id="cart-table-body">
                {% for item in cart.items.all %}
                <tr>
                    <td><a href={% url "product" item.book.id %}><img src="{{ item.book.cover_image }}" alt="{{ item.book.title }}" ></a>
                        <span class="delete-span"><a href="{% url 'remove_from_cart' item.book.id %}">x</a></span></td>
                    <td><a href={% url "product" item.book.id %}>{{ item.book.title }}</a></td>
                    <td class="price">₹{{ item.book.price }}</td>
                    <td class="quantity">
                        <form method="post" action="{% url 'update_cart' item.book.id %}">
                            {% csrf_token %}
                            <button type="submit" name="quantity" value="{{ item.quantity|add:-1 }}" class="decrease">-</button>
                            <input type="number" name="show_quantity" value="{{ item.quantity}}" min="0"  readonly>
                            <button type="submit" name="quantity" value="{{ item.quantity|add:1 }}" {% if item.quantity > 4 %} disabled{% endif %}  class="increase">+</button>
                        </form>
                    </td>
                    <td class="total">₹{{ item.total_price }}</td>
                    <td class="remove">
                        <form method="post" action="{% url 'remove_from_cart' item.book.id %}">
                            {% csrf_token %}    
                            <button class="delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                    
                </tr>
                {% empty %}
                {% comment %} <tr>
                </tr> {% endcomment %}
                {% endfor %}
            
            </tbody>
            

        </table>
        {% if cart.items.all|length == 0 %}
        <div class="empty-cart">
            <img src="{% static "resources/emptycart.png" %}" alt="empty cart">
            <p> Your cart is empty!</p>
        </div>
        {% endif %}
        <a href="{% url 'home' %}" class="continue-shopping">Continue Shopping</a>
    </div>

    <!-- Order Summary -->
    <div class="order-summary">
        <h2><span class="color">Order</span> Summary</h2>
        <div class="summary-item">
            <p>Subtotal:</p>
            <p id="subtotal">₹{{ cart.total_price }}</p>
        </div>
        <div class="summary-item">
            <p>Tax (10%):</p>
            <p id="tax">₹{{ tax|floatformat:2 }}</p> 
        </div>
        <div class="summary-item">
            {% if discount > 0 %}
                 <p>Discount <span class="discount-box"> ({{ coupon_code }}) <a href={% url "clear_coupon" %}> x </a></span></p>
                 <p id="discount">₹-{{ discount|floatformat:'2' }} </p>
            {% else %}
            <p>Discount:</p>
            <p id="discount">₹0.00</p>
            {% endif %}
        </div>
        <div class="summary-total">
            <p>Total:</p>
            <p id="final-total">₹{{ total|floatformat:2 }}</p> 
        </div>
        <p>By placing your order, you agree to be bound by the BookHaven <a href="#"> Terms of Service </a> and <a href='#'>Privacy Policy</a>.</p>
        <div class="promo-code">
            <h3>Add Promo or Gift Card</h3>
            <input type="text" id="promo-code-input" placeholder="Promo code or Gift Card">
            <button id="apply-promo">Apply</button>
        </div>
        {% if cart.items.all %}
            <a href="{% url "checkout"  %}"><button class="checkout-btn">Checkout</button></a>
        {% else %}
            <a href="/shop"><button class="checkout-btn">Go to shop</button></a>
        {% endif %}
    </div>
</div>
<h2 id="products">Recommended <span class="color">Books</span></h2>
<div class="carousel-container">
    <button class="prev-btn">❮</button>
    <div class="carousel">
        {% for book in  recommended_books%}
            <div class="card">
                <a href={% url "product" book.id%}>
                <img src="{{book.cover_image}}" alt="Book 1">
                <div>{{book.title}}</div>
                <p>{{ book.author|first_author }}</p>
                <p>₹{{book.price}}</p>
                </a>
                <a href={% url "add_to_cart" book.id %}><button>Add +</button></a>
                <a href="{% url 'add_to_wishlist' book.id %}" ><div class="wishlist" ><i class="fa fa-heart"></i></div></a> 
            </div>
        {% endfor %}
    </div>
    <button class="next-btn">❯</button>
</div>
<script src="{% static 'js/cart.js' %}"> </script>
{% endblock body%}
