{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block title %} <title>BookHaven</title> {% endblock title %}
{% block static %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock static %}

{% block body %}
    {% block navbar %}{% endblock navbar %}
    {% include "navbar.html" %}
   <section class="header-section">
    <div class="header">
        <h1>Welcome to <span>BookHaven</span></h1>
        <p>Your one-stop destination for educational e-books and resources.</p>
    </div>
   </section>
    <div class="container">
        <section class="sec-categories">
        <h1><span>Our </span>Categories</h1>
        <div class="categories">
            <div class="category">
                <img src="static\resources\mech2.jpg" alt="Mechanical" />
                <div class="cat">
                    <h2><i class="fa-solid fa-gears"></i></h2>
                    <h3>Mechanical Engineering</h3>
                    <p>Designing motion, building the future.</p>
                    <a href="{% url 'shop' %}?category=Mechanical+Engineering"><button>Show more
                    </button></a>
                </div>
            </div>
            <div class="category">
                <img src="static\resources\civil.jpg" alt="civil" />
                <div class="cat">
                    <h2><i class="fa-solid fa-helmet-safety"></i></h2>
                    <h3>Civil Engineering</h3>
                    <p>Constructing infrastructure for better living.</p>
                    <a href="{% url 'shop' %}?category=Civil+Engineering"><button>Show more
                    </button></a>
                </div>
            </div>
            <div class="category">
                <img src="static\resources\ele2.jpg" alt="Electrical" />
                <div class="cat"> 
                    <h2><i class="fa-solid fa-lightbulb"></i></h2>
                    <h3>Electrical Engineering</h3>
                    <p>Powering the world with innovation.</p>
                    <a href="{% url 'shop' %}?category=Electrical+Engineering">
                        <button>Show more
                        </button></a>
                </div>
            </div>
            <div class="category">
                <img src="static\resources\comp2.jpg" alt="computer" />
                <div class="cat">
                    <h2><i class="fa-solid fa-code"></i></h2>
                    <h3>Computer Engineering</h3>
                    <p>Building smarter tech for tomorrow.</p>
                    <a href="{% url 'shop' %}?category=Computer+Science+Engineering"><button>Show more
                    </button></a>
                </div>
            </div>
            <div class="category">
                <img src="static\resources\aero_1.jpg" alt="Aerospace" />
                <div class="cat">
                    <h2><i class="fa-solid fa-plane"></i></h2>
                    <h3>Aerospace Engineering</h3>
                    <p>Exploring skies, reaching new heights.</p>
                    <a href="{% url 'shop' %}?category=Aerospace+Engineering"><button>Show more
                    </button></a>
                </div>
            </div>
            <div class="category">
                <img src="static\resources\chem_2.jpg" alt="Chemical" />
                <div class="cat">
                    <h2><i class="fa-solid fa-vial"></i></h2>
                    <h3>Chemical Engineering</h3>
                    <p>Transforming materials for human progress.</p>
                    <a href="{% url 'shop' %}?category=Chemical+Engineering"><button>Show more
                    </button></a>
                </div>
            </div>
            <div class="category">
                <img src="static\resources\bio_2.jpg" alt="Biomedical" />
                <div class="cat">
                    <h2><i class="fa-solid fa-tablets"></i></h2>
                    <h3>Biomedical Engineering</h3>
                    <p>"Engineering solutions for healthier lives.</p>
                    <a href="{% url 'shop' %}?category=Biomedical+Engineering"><button>Show more
                    </button></a>
                </div>
            </div>
            <div class="category">
                <img src="static\resources\marine2.jpeg" alt="Mechanical" />
                <div class="cat">
                    <h2><i class="fa-solid fa-ship"></i></h2>
                    <h3>Marine Engineering</h3>
                    <p>Engineering for oceans and beyond.</p>
                    <a href="{% url 'shop' %}?category=Marine+Engineering"><button>Show more
                    </button></a>
                </div>
            </div>
        </div>
    </section>
        <!-- IMAGE SLIDER -->
        <section class="containerS">
            <a href="\shop"><button>SHOP NOW!</button></a>
            <div class="text">
                <h1 class="txt1">Discover Knowledge at Your Fingertips.</h1>
                <h1 class="txt2">Learn Smarter with Our eBook Library.</h1>
                <h1 class="txt3">Your Gateway to Affordable Education.</h1>
            </div>    
            <div class="slide-wrapper">
                <div class="slider">
                    <img id="slide-1" src="static\resources\slide4.jpeg" alt=img1 />
                    <img id="slide-2" src="static\resources\slide5.jpeg" alt=img2 />
                    <img id="slide-3" src="static\resources\slide3.jpg" alt=img3 />
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </section>

        <section class="sec-categories2">
            <div class="explore">
                <h1 id="products">Featured Products</h1>
                <p><span>Explore Our Featured Products!</span></p>
            </div>
            <div class="carousel-container">
            <button class="prev-btn">❮</button>
            <div class="carousel">
                {% for book in  featured_books%}
                    <div class="card">
                        <a href={% url "product" book.id%}>
                        <img src="{{book.cover_image}}" alt="Book 1">
                        <h3>{{book.title}}</h3>
                        <p>{{ book.author|first_author }}</p>
                        <p>₹{{book.price}}</p>
                        </a>
                        <a href={% url "add_to_cart" book.id %}><button>Add +</button></a>
                        <a href="{% url 'add_to_wishlist' book.id %}" ><div class="wishlist" ><i class="fa fa-heart"></i></div></a> 
                    </div>
                {% endfor %}
            </div>
            <button class="next-btn">❯</button>
        </div>
    </section>
    </div>

    <!-- LOGO SLIDER -->
    <div class="logo-slider">
        <div class="slider-track">
            <img src="static/resources/CRC_Press.svg" alt="Logo 1">
            <img src="static/resources/McGraw.svg" alt="Logo 2">
            <img src="static/resources/Pearson_logo.svg" alt="Logo 3">
            <img src="static/resources/Sage-logo.svg" alt="Logo 4">
            <img src="static/resources/Wiley_logo.svg" alt="Logo 5">
            <img src="static/resources/springer.svg" alt="Logo 5">
        </div>
    </div>

        <!-- LATEST ARRIVALS -->
        
        <section class="arrivals">
            <h1>Latest <span>Arrivals</span></h1>
            <div class="newArr">
                
                <div class="newArr-category">
                    
                    <ul class="newArr-list">
                        {% for book in latest_arrival %}
                            <li data-description="{{book.description}}" data-image="{{book.cover_image}}" data-book="{{book.id}}" {% if forloop.first  %}class="active"{% endif %} ><a href="{% url "shop" %}?category={{book.category.name}}">{{book.category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="image-display">
                    <a id="newArr-category-link" href="{% url "product" latest_arrival.0.id %}"><img id="newArr-category-img" src="{{latest_arrival.0.cover_image}}" alt="Category"></a>
                </div>

                <div class="Description">
                    <div id="image-description" class="desc">{{latest_arrival.0.description}}</div>
                </div>
            </div>
        </section>
        {% if browsing_history|length > 0 %}
            <h2 id="products" class="h">Recently Viewed <span class="color">Products</span></h2>
            <div class="carousel-container">
                <div class="carousel">
                    {% for book in  browsing_history%}
                        <div class="card2">
                            <a href={% url "product" book.id %}>
                            <img src="{{book.cover_image}}" alt="{{book.title}}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <!-- MILESTONES -->
        <div class="milestones-section">
            <div class="milestone">
                <div class="milestone-logo"><i class="fa-solid fa-truck"></i></div>
                <div class="milestone-content">
                    <h3>Free Shipping</h3>
                    <p>Enjoy free and fast shipping for all your physical book needs. No hidden costs, just great value!</p>
                </div>
            </div>
            <div class="milestone">
                <div class="milestone-logo"><i class="fa-regular fa-clock"></i></div>
                <div class="milestone-content">
                    <h3>Anytime, Anywhere Access</h3>
                    <p>Access your eBooks on any device, anytime. With offline mode, your learning never stops, even without the internet.</p>
                </div>
            </div>
            <div class="milestone">
                <div class="milestone-logo"><i class="fa-solid fa-gift"></i></div>
                <div class="milestone-content">
                    <h3>Best Prices & Offers</h3>
                    <p>Cheaper prices than your local bookstore, great cashback offers to top it off. Get best pricess & offers.</p>
                </div>
            </div>
            <div class="milestone">
                <div class="milestone-logo"><i class="fa-solid fa-arrow-rotate-left"></i></div>
                <div class="milestone-content">
                    <h3>Easy Returns</h3>
                    <p>Not satisfied with a product? Return it at the doorstep & get a refund within hours. No questions asked policy .</p>
                </div>
            </div>
        </div>

    <script src="{% static 'js/home.js' %}"> </script>

</body>
{% endblock body %}
</html>
