{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block title %} <title>BookHaven</title> {% endblock title %}
{% block static %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock static %}

{% block body %}
    {% block content %}{% endblock content %}
    <div class="header">
        <h1>Welcome to BookHaven</h1>
        <p>Your one-stop destination for educational e-books and resources.</p>
    </div>
    <div class="user-dialog" id="user-dialog">
        {% if user.is_authenticated %}
            <p>Hello, {{ user.first_name }}</p>
            <a href="{% url 'logout' %}" id="logout-btn">Logout</a>
        {% else %}
            <a href="{% url 'signin' %}" id="login-btn">Login</a>
        {% endif %}
    </div>
    <div class="container">
        <div class="search-bar">
            <form method="get" action="{% url 'shop' %}">
                <input type="text" name="q" placeholder="Search for books..." value="{{ request.GET.q|default:'' }}">
                <button type="submit">Search</button>
            </form>
        </div>
        <h2>Categories</h2>
        <div class="categories">
            <div class="category">
                <a href="{% url 'shop' %}?category=Mechanical+Engineering">
                    <h2><i class="fa-solid fa-gears"></i></h2>
                    <h3>Mechanical Engineering</h3>
                    <p>Designing motion, building the future.</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'shop' %}?category=Civil+Engineering">
                    <h2><i class="fa-solid fa-helmet-safety"></i></h2>
                    <h3>Civil Engineering</h3>
                    <p>Constructing infrastructure for better living.</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'shop' %}?category=Electrical+Engineering">
                    <h2><i class="fa-solid fa-lightbulb"></i></h2>
                    <h3>Electrical Engineering</h3>
                    <p>Powering the world with innovation.</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'shop' %}?category=Computer+Science+Engineering">
                <h2><i class="fa-solid fa-code"></i></h2>
                <h3>Computer Engineering</h3>
                <p>Building smarter tech for tomorrow.</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'shop' %}?category=Aerospace+Engineering">
                    <h2><i class="fa-solid fa-plane"></i></h2>
                    <h3>Aerospace Engineering</h3>
                    <p>Exploring skies, reaching new heights.</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'shop' %}?category=Chemical+Engineering">
                    <h2><i class="fa-solid fa-vial"></i></h2>
                    <h3>Chemical Engineering</h3>
                    <p>Transforming materials for human progress.</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'shop' %}?category=Biomedical+Engineering">
                    <h2><i class="fa-solid fa-tablets"></i></h2>
                    <h3>Biomedical Engineering</h3>
                    <p>"Engineering solutions for healthier lives.</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'shop' %}?category=Robotics+Engineering">
                    <h2><i class="fa-solid fa-robot"></i></h2>
                    <h3>Robotics Engineering</h3>
                    <p>"Innovating machines to mimic humans.</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'shop' %}?category=Marine+Engineering">
                    <h2><i class="fa-solid fa-ship"></i></h2>
                    <h3>Marine Engineering</h3>
                    <p>Engineering for oceans and beyond.</p>
                </a>
            </div>
        </div>

        <h2 id="products">Featured Products</h2>
        <div class="carousel-container">
            <button class="prev-btn">❮</button>
            <div class="carousel">
                {% for book in  featured_books%}
                    <div class="card">
                        <a href={% url "product" book.id%}>
                        <img src="{{book.cover_image}}" alt="Book 1">
                        <h3>{{book.title}}</h3>
                        <p>{{ book.author|first_author }}</p>
                        <p>₹{{book.price}}</p>
                        </a>
                        <a href={% url "add_to_cart" book.id %}><button>Add +</button></a>
                    </div>
                {% endfor %}
            </div>
            <button class="next-btn">❯</button>
        </div>
    </div>


        <!-- LATEST ARRIVALS -->
        
        <section class="arrivals">
            <h2>Latest Arrivals</h2>
            <div class="newArr">
                
                <div class="newArr-category">
                    
                    <ul class="newArr-list">
                        {% for book in latest_arrival %}
                            <li data-description="{{book.description}}" data-image="{{book.cover_image}}" {% if forloop.first  %}class="active"{% endif %} ><a href="{% url "shop" %}?category={{book.category.name}}">{{book.category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="image-display">
                    <img id="newArr-category-img" src="{{latest_arrival.0.cover_image}}" alt="Category">
                </div>

                <div class="Description">
                    <div id="image-description" class="desc">{{latest_arrival.0.description}}</div>
                </div>
            </div>
        </section>


        <!-- MILESTONES -->
        <div class="milestones-section">
            <div class="milestone">
                <div class="milestone-number">1</div>
                <div class="milestone-content">
                    <h3>Milestone Title 1</h3>
                    <p>Description of milestone 1.</p>
                </div>
            </div>
            <div class="milestone">
                <div class="milestone-number">2</div>
                <div class="milestone-content">
                    <h3>Milestone Title 2</h3>
                    <p>Description of milestone 2.</p>
                </div>
            </div>
            <div class="milestone">
                <div class="milestone-number">3</div>
                <div class="milestone-content">
                    <h3>Milestone Title 3</h3>
                    <p>Description of milestone 3.</p>
                </div>
            </div>
            <div class="milestone">
                <div class="milestone-number">4</div>
                <div class="milestone-content">
                    <h3>Milestone Title 4</h3>
                    <p>Description of milestone 4.</p>
                </div>
            </div>
        </div>

    <script src="{% static 'js/home.js' %}"> </script>

</body>
{% endblock body %}
</html>
