<nav class="navbar">
    <div class="logo">
        <a href="/">
            <i class="fa-solid fa-book-open"></i> BookHaven</a>
    </div>
    <ul class="nav-links">
        <!-- Search box -->
        <li>
            <div class="searchBox"> 
                <form method="get" action="{% url 'shop' %}">
                    <input class="input" type="text" name="q" placeholder="Search for books..." value="{{ request.GET.q|default:'' }}">
                    <i class="fa-solid fa-magnifying-glass fa-lg searchBtn"></i>
                </form>
            </div>
        </li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/contact">Contact</a></li>
        <div class="nav-icons">
            <li id="user-icon"><i  class="fa-solid fa-user"></i></li>
            <li><a href="/books/wishlist"> <i class="fa-regular fa-heart"></i><span id="wishlist-count">{{ wishlist_count }}</span></a></li>
            <li><a href="/cart/cart"> <i class="fa-solid fa-cart-shopping"></i><span id="cart-count">{{ cart_count }}</span></i></a></li>
        </div>
    </ul>
    <div class="sub-menu-wrap" id="sub-menu-wrap">
        <div class="sub-menu">
            <div class="user-dialog" id="user-dialog">
                {% if user.is_authenticated %}
                    <h3>Hello, {{ user.first_name }}</h3>
                    <hr>
                    <a href="/order-history" class="sub-menu-link"> 
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <p>Order History </p>
                    </a>
                    <a href="{% url 'logout' %}" id="logout-btn" class="sub-menu-link">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p>Logout</p>
                    </a>
                {% else %}
                    <a href="{% url 'signin' %}" id="login-btn" class="sub-menu-link">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>Login</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>