{% extends "base.html" %}
{% load static %}
    {% block title %}<title>Wishlist</title>{% endblock title %}
    {% block static %}
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
    {% endblock static %}
   
</head>
{% block body %}
<body>
    <div class="container">

    <div class="wishlist-container">
        <h1>My Wishlist</h1>
        <p id="product-count">There are {{ wishlist_items|length }} products in this wishlist.</p>

        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for item in wishlist_items %}
                <tr>
                    <td><a href={% url "product" item.book.id %}><img src="{{ item.book.cover_image }}" alt="{{ item.book.name }}"></a></td>
                    <td style="text-align:left"><a href={% url "product" item.book.id %}>{{ item.book.title }}</a></td>
                    <td>₹{{ item.book.price }}</td>
                    <td>
                        {% if item.book.stock > 0 %}
                        <span class="status in-stock">In Stock</span>
                        {% else %}
                        <span class="status out-of-stock">Out of Stock</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.book.stock > 0 %}
                        <a href="{% url 'add_to_cart' item.book.id %}" class="action-btn add-to-cart">Add to cart</a>
                        {% else %}
                        <a href="{% url 'contact' %}" class="action-btn contact-us">Contact us</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'remove_from_wishlist' item.book.id %}" class="remove-btn"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/wishlist.js' %}"></script>
</body>
{% endblock %}

